<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'RECEIVE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main">
        <!-- <div class="logo"></div> -->
        <!-- <div class="qrcode" [innerHTML]="qrcode">

        </div> -->

        <ngx-qrcode [qrc-value]="qrcode" qrc-version="9"></ngx-qrcode>

        <div class="address">
            <div class="label">{{ addr }}</div>
            <div class="btn" tappable (click)="copyAddr()"></div>
        </div>
        <div class="tips">
            {{ 'RECEIVE_ADDR' | translate:{value: global.projectName} }}
        </div>
    </div>

    <div class="bottom-logo">POC</div>
</ion-content>