<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'CHANGE_PASSWORD' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="input-password-wrapper">
            <div class="label" translate="">ORIGINAL_PASSWORD</div>
            <div class="input-wrapper">
                <input (blur)="checkPassword()" [type]="ifEyeOpen ? 'text' : 'password'" [(ngModel)]="password"
                    placeholder="{{ 'INPUT_ORIGINAL_PASSWORD' | translate }}">
            </div>

            <div class="eye" tappable (click)="toggleEyeOpen()" [ngClass]="ifEyeOpen ? 'eye-open' : 'eye-close'">
            </div>
        </div>

        <div class="error-text" *ngIf="passwordError">{{ passwordError }}</div>

        <div class="input-password-wrapper">
            <div class="label" translate>NEW_PASSWORD</div>
            <div class="input-wrapper">
                <input (blur)="checkPassword1()" [type]="ifEyeOpen1 ? 'text' : 'password'" [(ngModel)]="password1"
                    placeholder="{{ 'PASSWORD_RULE' | translate }}">
            </div>

            <div class="eye" tappable (click)="toggleEyeOpen1()" [ngClass]="ifEyeOpen1 ? 'eye-open' : 'eye-close'">
            </div>
        </div>

        <div class="error-text" *ngIf="passwordError1">{{ passwordError1 }}</div>

        <div class="input-password-wrapper">
            <div class="label" translate="">CONFIRM_PASSWORD</div>
            <div class="input-wrapper">
                <input (blur)="checkPassword2()" [type]="ifEyeOpen2 ? 'text' : 'password'" [(ngModel)]="password2"
                    placeholder="{{ 'CONFIRM_PASSWORD' | translate }}">
            </div>

            <div class=" eye" tappable (click)="toggleEyeOpen2()" [ngClass]="ifEyeOpen2 ? 'eye-open' : 'eye-close'">
            </div>
        </div>

        <div class="error-text" *ngIf="passwordError2">{{ passwordError2 }}</div>

        <div class="buttons">
            <div class="confirm-button" tappable (click)="changePassword()" translate>CONFIRM</div>
        </div>
    </div>
</ion-content>

<div class="lds-css ng-scope" *ngIf="ifShowLoading">
    <div class="lds-wrapper">
        <div class="lds-flickr">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <!-- <div class="progress">{{ rate }}%</div> -->
    </div>
</div>