.input-password-wrapper {
    position: relative;
    margin-bottom: 5px;

    .label {
        font-size: 14px;
        color: #000000;
        line-height: 44px;
    }

    input {
        background: #F8F8F8;
        border: 1px solid #E8E8E8;
        border-radius: 5px;
        height: 48px;
        line-height: normal;
        font-size: 14px;
        padding: 0 14px;
        display: block;
        width: 100%;

        &::-webkit-input-placeholder {
            font-size: 14px;
            color: #999;
        }
    }

    .eye {
        height: 48px;
        position: absolute;
        top: 44px;
        right: 0;
        width: 48px;
        background: url(../../../assets/imgs/eye-close.svg) center center no-repeat;
        background-size: 24px 24px;

        &.eye-open {
            background-image: url(../../../assets/imgs/eye-open.svg);
        }
    }
}


.error-text {
    font-size: 12px;
    color: red;
    line-height: 18px;
}