.tabs {
    display: flex;
    background: #FFFFFF;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.00) 11%, rgba(255, 255, 255, 0.84) 83%);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 14px var(--page-padding);

    .tab {
        font-size: 14px;
        color: var(--tips-color);
        text-align: center;
        height: 48px;
        flex: 1;

        .label {
            line-height: 46px;
            border-bottom: 2px solid #fff;
            display: inline-block;
        }

        &.focus {
            .label {
                color: var(--main-color);
                border-color: var(--main-color);
            }

        }
    }
}

.mnemonic {
    padding-bottom: 10px;

    &.keystore {
        .textarea {
            font-size: 12px;
            height: 230px;
        }
    }

    .tips {
        padding: 0;
        line-height: 44px;
    }

    .textarea {
        outline: none;
        display: block;
        width: 100%;
    }
}

.bottom-button {
    margin-top: 40px;
}