<ion-tabs #tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="wallet">
            <ion-icon class="custom-wallet"></ion-icon>
            <ion-label translate>WALLET</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="pledge">
            <ion-icon class="custom-pledge"></ion-icon>
            <ion-label translate>PLEDGE</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="setting">
            <ion-icon class="custom-setting"></ion-icon>
            <ion-label translate>MINE</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>